.icon {

	color: white;

	.back {
		color: white;
		background-color: var(--ion-color-secondary);
		border-radius: 100%;
		opacity: 1;
		z-index: 9999;
		left: 14px;
		top: 20px;
		position: absolute;
		font-size: 22px;
		padding: 3px;
	}
}