<div style="width: 85%;margin: 0 auto;max-width: 600px;">
  <a class="btn-long" routerLink="/home">
    <div class="title" style="position: relative;">
      <ion-icon class="icono-derecha" name="storefront-outline"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Catalogo</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" [href]="'https://api.whatsapp.com/send?phone='+numero">
    <div class="title">
      <ion-icon class="icono-derecha" name="logo-whatsapp"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Whatsapp</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" [href]="'tel:'+numero">
    <div class="title">
      <ion-icon class="icono-derecha" name="call-outline"></ion-icon>

      <ion-text class="name nombre_1" color="primary">Teléfono</ion-text>
    </div>
    <div class="chevron">
      <ion-icon class="icono-derecha" name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" href="https://www.instagram.com/ferreacerovalencia/">
    <div class="title">
      <ion-icon class="icono-derecha" name="logo-instagram"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Instagram</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" [href]="ubicacion">
    <div class="title">
      <ion-icon class="icono-derecha" name="location-outline"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Ubicacíon</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>
</div>