<div style="width: 85%;margin: 0 auto;max-width: 600px;">
  <a class="btn-long" routerLink="/home">
    <div class="title" style="position: relative;">
      <ion-icon class="icono-derecha" name="storefront-outline"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Catalogo</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" href="https://api.whatsapp.com/send?phone=58414341324">
    <div class="title">
      <ion-icon class="icono-derecha" name="logo-whatsapp"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Whatsapp</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" href="tel:58414341324">
    <div class="title">
      <ion-icon class="icono-derecha" name="call-outline"></ion-icon>

      <ion-text class="name nombre_1" color="primary">Teléfono</ion-text>
    </div>
    <div class="chevron">
      <ion-icon class="icono-derecha" name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long" href="https://www.instagram.com/ferreacerovalencia/">
    <div class="title">
      <ion-icon class="icono-derecha" name="logo-instagram"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Instagram</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>

  <a class="btn-long"
    href="https://www.google.co.ve/maps/place/FERREACERO+VALENCIA/@10.2514055,-67.9127437,21z/data=!4m5!3m4!1s0x0:0xc40a037e3d1487bf!8m2!3d10.2515276!4d-67.913054?hl=es&shorturl=1">
    <div class="title">
      <ion-icon class="icono-derecha" name="location-outline"></ion-icon>
      <ion-text class="name nombre_1" color="primary">Ubicacíon</ion-text>
    </div>
    <div class="chevron">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </a>
</div>