<!-- {{categoria_select$ | async | json}} -->
<ion-grid>
    <ion-row>

        <ion-col class="centro" *ngFor="let x of (categoria_select$ | async).cabeceras">
            <ion-text color="secondary">
                <b>{{x.split(":")[1]}}</b>
            </ion-text>
        </ion-col>


    </ion-row>

    <ion-row *ngFor="let base of productos$ | async" class="zebra">

        <ion-col class="izquierda" *ngIf="cabeceras.includes('Nombre')">
            <div> {{base.nombre}}</div>
        </ion-col>

        <ion-col class="centro" *ngIf="cabeceras.includes('mts')">
            <div> {{base.mts}}</div>
        </ion-col>
        <ion-col class="centro" *ngIf="cabeceras.includes('Medida')" size="5">
            <div>{{base.medida}}</div>
        </ion-col>

        <ion-col class="centro" *ngIf="cabeceras.includes('Marca')">
            <div>{{base.marca}}</div>
        </ion-col>

        <ion-col class="centro" *ngIf="cabeceras.includes('Peso')">
            <div>{{base.peso}}</div>
        </ion-col>
        <ion-col class="derecha" *ngIf="cabeceras.includes('Precio')">
            <div>${{base.precio}}</div>
        </ion-col>
    </ion-row>
</ion-grid>