.derecha{
    text-align: right;
}
.centro{
    text-align: center;
}

.zebra{
    background: #fefbe747;
}

.zebra:nth-of-type(odd){
    background: #002f8736;
}

.MM_col,
.Medida_col,
.Peso_col,
.Precio_col,.MM_title,.Medida_title,.Peso_title,.Precio_title{
    text-align: center;
}

