<!-- {{categoria_select$ | async | json}} -->
<ion-grid>

    <div *ngFor="let base of productos ;let i = index;let x" class="zebra">


        <ion-text color="primary">
            <h3 *ngIf="base.mostrarTipo && base.tipo !='default'">{{base.tipo}}</h3>
            <h4 *ngIf="base.mostrarSubTipo  && base.subtipo !='default'">{{base.subtipo}}</h4>
        </ion-text>
        <ion-row>

            <ion-col *ngFor="let x of (categoria_select$ | async).cabeceras" [ngClass]="{'centro':!x.includes('Precio'),
        'derecha':x.includes('Precio')
        }">
                <ion-text color="secondary" *ngIf="base.mostrarSubTipo || base.mostrarTipo">
                    <b>{{x.split(":")[1]}}</b>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="zebra-row">
            <ion-col class="izquierda a" *ngIf="cabeceras.includes('nombre')">
                <div> {{base.nombre}}</div>
            </ion-col>

            <ion-col class="centro b" *ngIf="cabeceras.includes('mts')">
                <div> {{base.mts}}</div>
            </ion-col>

            <ion-col class="centro c" *ngIf="cabeceras.includes('espesor')">
                <div>{{base.espesor}}<span *ngIf="base.espesor !='' ">MM</span>

                </div>
            </ion-col>

            <ion-col class="centro d" *ngIf="cabeceras.includes('medida')" size="5">
                <div>{{base.medida}}</div>
            </ion-col>

            <ion-col class="centro e" *ngIf="cabeceras.includes('marca')">
                <div>{{base.marca}}</div>
            </ion-col>

            <ion-col class="centro f" *ngIf="cabeceras.includes('Peso')">
                <div>{{base.peso}}</div>
            </ion-col>
            <ion-col class="derecha g" *ngIf="cabeceras.includes('precio')">
                <div>${{base.precio}}</div>
            </ion-col>
        </ion-row>
    </div>
</ion-grid>