ion-icon {
    font-size: 50px;

}

ion-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ion-col:nth-of-type(2n+1) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.size {
    width: 100px;
    // background-color: aqua;
    text-align: center;
}