a {
  text-decoration: none;
}

.border-top {
  border-top: 1px solid var(--ion-color-secondary);
}

.icon {
  //background-color: var(--ion-color-primary);

  ion-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;

    ion-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;

      ion-icon {
        font-size: 30px;
        padding: 5px;
        //border: 2px solid var(--ion-color-secondary);
        border: none;
        border-radius: 50%;
        color: var(--ion-color-secondary);
      }

      .number {
        font-family: "medium";
        color: var(--ion-color-black);
        padding-top: 10px;
      }

      .title {
        color: var(--ion-color-medium);
      }
    }
  }
}