<ion-grid>
    <ion-row>
        <ion-col class="centro">
            <ion-text color="secondary" >
                <b>MM</b>
            </ion-text>
        </ion-col>
        <ion-col class="centro">
            <ion-text color="secondary" >
                <b>Medida</b>
            </ion-text>

        </ion-col>
        <ion-col class="centro">
            <ion-text color="secondary" >
                <b>Peso</b>
            </ion-text>

        </ion-col>
        <ion-col class="centro">
            <ion-text color="secondary" >
                <b>Precio</b>
            </ion-text>

        </ion-col>
    </ion-row>

    <ion-row *ngFor="let lamina of laminas"  class="zebra">
        <ion-col>
            <div class="centro"> {{lamina.mm}}</div>
        </ion-col>
        <ion-col>
            <div class="centro">{{lamina.medida}}</div>
        </ion-col>
        <ion-col>
            <div  class="centro">{{lamina.peso}}</div>
        </ion-col>
        <ion-col>
            <div  class="centro">{{lamina.precio}}</div>
        </ion-col>
    </ion-row>
</ion-grid>